/** @SHUTTERBBUGG - Photography Like You Have Never Known **/

h1, h3, h4, h5 {
	font-family: 'Roboto Mono', monospace;
    color: #5d5d5d;
}
a:link, a:visited {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}
.title-footer, .igfcvs {
    text-align: center;
}
.fa {
    color: #c0c0c0;
}
#banner {
	background-color: #c0c0c0;
    text-align: center;
	color: #fff;
}
#menu, #writeup {
	font-style: bold;
	text-align: center;
	color: #5d5d5d;
}